.vscode/settings.json
express-back-end/database/seeds/08_chnaged_email.sql
react-front-end/src/assets/recipe-demo-card.jpgZone.Identifier
react-front-end/src/assets/recipe-demo-card.jpg:Zone.Identifier
