.react-datetime-picker button {
  min-width: auto;
  color: #000; }

.react-datetime-picker .react-calendar__tile--active {
  background: #084F20;
  color: #fff; }
  .react-datetime-picker .react-calendar__tile--active:hover {
    background: #E7B401;
    color: #000; }

.react-datetime-picker .react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
.react-datetime-picker .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
  stroke: #000; }
