.login-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }
  .login-form button {
    border-radius: 700px;
    background: #084F20;
    padding: 15px 30px;
    margin: 0 auto;
    display: flex;
    color: #FFF; }
