.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  font-family: Roboto; }

.top-nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 15px auto; }

.top-nav-bar__menu {
  display: flex;
  margin-left: auto;
  align-items: center; }
  .top-nav-bar__menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center; }
  .top-nav-bar__menu li {
    margin-left: 15px; }
  .top-nav-bar__menu a,
  .top-nav-bar__menu a .nav-link {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid transparent; }
  .top-nav-bar__menu .dropdown {
    display: flex;
    align-items: center; }
  .top-nav-bar__menu .dropdown-item {
    margin-bottom: 5px; }
  .top-nav-bar__menu .dropdown-toggle {
    padding: 0; }

.top-nav-bar__logo a {
  text-decoration: none;
  color: #084f20;
  font-size: 36px;
  margin-right: auto; }

.top-nav-bar__favorites svg,
.top-nav-bar__search svg,
.top-nav-bar__avatar svg {
  width: 24px;
  height: 24px; }

.top-nav-bar__favorites,
.top-nav-bar__search,
.top-nav-bar__avatar {
  margin-right: 15px; }

.top-nav-bar__picture img,
.img-replacement {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff; }

.img-replacement {
  display: inline;
  justify-content: center;
  align-items: center; }
