.react-datetime-picker {
  height: 38px;

  .react-datetime-picker__wrapper {
    border-radius: 5px;
    border-color: hsl(0, 0%, 80%);
  }

  button {
    min-width: auto;
    color: #000;
  }

  .react-calendar__tile--active {
    background: #084F20;
    color: #fff;

    &:hover {
      background: #E7B401;
      color: #000;
    }
  }

  .react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
  .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
    stroke: #000;
  }
}