@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.home-route.container {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

button,
.button {
  border-radius: 700px;
  background: #084F20;
  padding: 15px 30px;
  margin: 0 auto;
  display: flex;
  color: #FFF;
  border: 0;

  &:hover {
    background: #E7B401;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
  }
}

a {
  color: #084F20;
}

.search-container {
  margin-bottom: 50px;
}