.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  font-family: Roboto;
}

.top-nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 15px auto;
}

.top-nav-bar__menu {
  display: flex;
  margin-left: auto;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  li {
    margin-left: 15px;
  }

  a,
  a .nav-link {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid transparent;
  }

  .dropdown {
    display: flex;
    align-items: center;
  }

  .dropdown-item {
    margin-bottom: 5px;
  }

  .dropdown-toggle {
    padding: 0;
  }

}

.top-nav-bar__logo a {
  text-decoration: none;
  color: rgba(8, 79, 32, 1);
  font-size: 36px;
  margin-right: auto;
}

.top-nav-bar__favorites,
.top-nav-bar__search,
.top-nav-bar__avatar {
  svg {
    width: 24px;
    height: 24px;
  }
}

.top-nav-bar__favorites,
.top-nav-bar__search,
.top-nav-bar__avatar {
  margin-right: 15px;
}